svg g text {
  font-size: 0.22em;
  fill: white;
  fill-opacity: 0.7;
  transition: fill-opacity .5s;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
}

.ytcg-root {
  width: 100vw;
  height: 100vh;
  /*min-height: 100vh;*/
  background: #232325;
  display: flex;
  flex-direction: column;
}

header {
  width: 100vw;
  text-align: center;
  flex: none;
}

.ytcg-map-container {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ytcg-hand-bar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /*padding: 18px 0 12px 0;*/
  /*position: relative;*/
  /*z-index: 3;*/
}

/* Optionnel : style pour les cartes dans la main */
.ytcg-hand-bar > * {
  margin-left: 8px;
  margin-right: 8px;
}
